.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

section {
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.language-switcher {
    text-align: right;
    margin-bottom: 1em;
}

.language-switcher a {
    text-decoration: none;
}

.language-switcher img {
    width: 32px;
    height: auto;
    margin-left: 6px;

    border: 3px solid white;
    border-radius: 4px;

    vertical-align: middle;
}

.language-switcher img.current {
    border-color: #888;
}

.language-switcher img:hover {
    opacity: 0.8;
}


